body {
  font-family: Arial, sans-serif;
  background: linear-gradient( 90deg, #555,#4caf50, #fff);
  background-image: url('./logo0.png');
  background-repeat: no-repeat;
  background-position: 0px 50px;
  background-size: 500px;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

.auth-form-container {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Contact-form-container {
  position: relative;
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.link-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.link-btn:hover {
  color: #0056b3;
}
.error {
  color: red;
  font-size: 0.8em;
  margin-top: -10px;
  margin-bottom: 15px;}
  .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;}
    
    .navbar img {
      float: left;
      padding: 2px;
    }
    
    .navbar a {
      float: left;
      text-align: center;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
    
    .navbar a:hover {
      background-color: #9a0505;
    }
    
   
    .active {
      background-color: #4caf50;
    }
    
    
    @media screen and (max-width: 500px) {
      .navbar a {
        float: none;
        display: block;
      }
    }
    